*{
    margin: 0px;
    padding: 0px;
}

.menubar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1414124;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    align-items: center;
}

.sticky-contents li{
    position: sticky;
    top:0px;
}

.general-topic{
    background-color: transparent;
    font-size: 1.2em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top:3em;
    z-index: 100000;
    top: 0px;
    text-align: center;
}

.general-topic h1{
    margin: 30px 25px 0px 25px;
}

.fields .general-topic{
    position: sticky;
    top:0px;
}

.fields li{
    position: sticky;
    top:160px;
    margin-top: 20vh;

}

.lorem{
    margin-top: 100px;
}

img{
    width: 30vw;
}

.first{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 50px 200px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "image topic"
    "image content";
    background-color: rgb(206, 210, 219);;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(19, 15, 39, 0.5);
    border: 1px solid rgba(19, 15, 39, 0.1);
    padding: 10px;
    /* min-height: 320px; */
    min-height: 10vh;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image{
    grid-area: image;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image img{
    width: 19vw;
}

.topic{
    width:80%;
    margin-top: 0.5em;
    grid-area: topic;
    text-align: center;
}

.content{
    grid-area: content;
    width:95%;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5em;
}

.options img{
    position: absolute;
    top:15px;
    right: 10px;
    margin-right: 10px;
    display: none;
    width:20px;
}

.paragaph{
    margin:10vw;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.3em;
}


@media (max-width:700px){
    .first{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .image img{
    width: 30%;
    }

    .general-topic{
        font-size: 0.9em;
    }

    .topic{
        width: 100%;
        font-size: 0.8em;
    }

    .content{
        line-height: 1.3em;
    }

    .fields li{
    top:130px;
    }

    .paragaph{
        line-height: 1.4em;
        font-size: 1.2em;
    }
}

@media (max-width:400px){
    .general-topic{
        font-size: 0.7em;
    }

    .topic{
        width: 100%;
        font-size: 0.6em;
    }

    .content{
        width: 100%;
        line-height: 1.2em;
        font-size: 1em;
    }

    .paragaph{
        line-height: 1.3em;
        font-size: 1.1em;
    }
}